<% include partials/header %>

	<div id="container">
		<h1>TO-DO List <i class="fa fa-plus"></i></h1>
		<input type="text" placeholder="Add New Task">

		<ul>
			<li> <span><i class="fa fa-trash"></i></span> Class Lecture</li>
			<li> <span><i class="fa fa-trash"></i></span> Programming</li>
			<li> <span><i class="fa fa-trash"></i></span> Study</li>
		</ul>
	</div>
	

<% include partials/footer %>

