<% include partials/header %>

    <link rel="stylesheet" href="stylesheets/home.css">
 
  <div class="title">
    <div class="container">
      <div class="col-lg-12 welcome">
        <h1>WELCOME TO TASK MANAGER</h1>
        <p> <h4> <span> The clock is ticking, how will you spend your day today?</soan> </h4> </p>
      </div>
    </div>
  </div>

  <div class="timer">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <!-- Countdown dashboard start -->
          <div id="countdown_dashboard">
            <div class="countDown">
              <div class="dash days_dash">
                <span class="dash_title">days</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>

              <div class="dash hours_dash">
                <span class="dash_title">hours</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>

              <div class="dash minutes_dash">
                <span class="dash_title">minutes</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>

              <div class="dash seconds_dash">
                <span class="dash_title">seconds</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
              </div>
            </div>
          </div>
          <!-- Countdown dashboard end -->
        </div>
      </div>
    </div>
  </div>

<div class="contents">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="text-center">
 				<a href="/tasklists" class="fa fa-tasks" id="subscribe_button" > GET STARTED!</a>
 			</div>
 		</div>
 	</div>
 </div>

  <div class = "containers">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <div class="copyright">
          &copy; Task Manager by Robert Ramirez.
        </div>
      </div>
    </div>
  </div>

  
  <!-- jQuery (necessary plugin for memory of clock countdown) -->
  <script src="scripts/jquery-2.1.1.min.js"></script>
  <!-- Countdown Clock Functzion -->
  <script language="Javascript" type="text/javascript" src="scripts/countdown.js"></script>
  <script src="scripts/functions.js"></script>

<% include partials/footer %>

