<% include partials/header %>

    <div class = "container">
        
        <header class = "jumbotron">
            <div>
                <h1>Welcome to Task Manager!</h1>
                <p>View all your hand-picked tasks for the today</p>
                <p>
                    <a class = "btn btn-primary btn-lg" href = "/tasklist/new">Add New Task</a>
                </p>
            </div>
        </header>
        
        <div class = "row text-center" style = "display:flex; flex-wrap: wrap;">
        </div>
    </div>
<% include partials/footer %>