body {
    background: url("../img/header.jpg");
    background-size: cover;
    background-position: center; 
    transition: background 1.5s linear;

}

.title h1 {
	font-size:40px;
	margin-top:30px;
	color:#fff;
	text-align:center;	
	font-family:Roboto;	
}

.welcome {
    text-align: center;
}

h4 {
	font-family:Roboto;
	color:#fff;	
}


#countdown_dashboard {
	margin-top:60px;
}

.countDown .days_dash .digit {
	color: #FF0000;
}

.countDown .hours_dash .digit {
	color: #FF0000;
}

.countDown .minutes_dash .digit {
	color: #FF0000;
}

.countDown .seconds_dash .digit {
	color: #FF0000;
}

.dash {
	height: 114px;
	background: transparent url('../img/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 21px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	color: #fff;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;	
	font-size:12px;
	font-weight:500;
	color: #fff;
	margin-left:10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family:Roboto;
}



#subscribe_button {
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-top: 0px solid #fff;
	border-bottom: 0px solid #fff;
	font-size: 18px;
	color: #FFF;
	padding: 10px 14px;
	background:#FF0000;
	border-radius:7px;
	margin-left:10px;
	font-family:Roboto;
	margin: 20%;
}


#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

.copyright {
	color:#fff;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
	text-shadow:none;
	font-family:Roboto;
}

.copyright a {
	text-decoration:none;
	color: #FF0000;
}

.copyright a:hover {
	text-decoration:none;
}

.contents{
	padding-top: 5%;
}
.containers{
	padding-top: 15%;
	position:relative;
}

